.home {
  //background-color: #0f0f0f;
  height: 100%;

  .sub-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    &.v-toolbar {
      background-color: #0f0f0f;
    }

    .v-toolbar__content {
      padding: 0;

      .sub-header-btn {
        .v-btn__content {
          height: 20px;
          text-transform: none;
          font-size: 14px;
          font-weight: 500;
        }

        height: 32px;
        padding: 0 12px;
        margin: 12px 12px 12px 0;
      }
    }
  }

  .contents {
    position: relative;
    display: flex;
    justify-content: center;
    top: 54px;
    width: 100%;
    .row {
      max-width: 1832px;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .col {
        width: auto;
        //max-height: 294.58px;
        margin: 0 8px 40px 8px;
        padding: 0;
      }

      /*@media (max-width: 1870px) {
        .col {
          flex: 23%;
          max-width: 24%;
        }
      }

      @media (max-width: 1450px) {
        .col {
          flex: 100%;
          max-width: 32%;
        }
      }
      @media (max-width: 953px) {
        .col {
          flex: 100%;
          max-width: 47%;
        }
      }

      @media (max-width: 655px) {
        .col {
          flex: 100%;
          max-width: 94%;
        }
      }*/
    }
  }
}
