.home {
  //background-color: #0f0f0f;
  height: 100%;

  .sub-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    &.v-toolbar {
      background-color: #0f0f0f;
    }

    .v-toolbar__content {
      padding: 0;

      .sub-header-btn {
        .v-btn__content {
          height: 20px;
          text-transform: none;
          font-size: 14px;
          font-weight: 500;
        }

        height: 32px;
        padding: 0 12px;
        margin: 12px 12px 12px 0;
      }
    }
  }

  .contents {
    position: relative;
    top: 54px;
    width: 100%;
  }
}
